@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out ; 
    background: linear-gradient(45deg, #eeeaea, #b6b0b0);
    background-attachment: fixed;
    scroll-behavior: smooth;

}

/* NAV-BAR */

.navbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #9c86bd;
}

/* BOTON OSCURO */

.dark-mode{
    display: flex;
    margin-top: 0.8%;
    margin-left: 90%;
}

.dark-mode-btn {
    border: none;
    position: fixed;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    width: 40px;
    height: 35px;
    transition: ease-in-out;
}

.dark {
    color: #f5f5f5;
    background: linear-gradient(45deg, #121212, #301131);
    background-attachment: fixed;
}


/* HEADER  */

.header{
    margin-bottom: 8%;
    margin-top: 11%;
    margin-left: 10%;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0;
}

.header span {
    color: #a13386;
    font-weight: bold;
    border-right: 2px solid #a13386;
    padding-right: 5px;
    animation: blink 0.8s infinite alternate;
}

.about-me {
    margin: 0;
    max-width: 600px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}


/* SKILLS  */

.skills-section {
    text-align: center;
    margin-top: 80px;
}


.skills-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}


.skills, .learning, .tools {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}


h2 {
    font-size: 2rem;
}

h3 {
    padding-bottom: 10px;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.icons img:hover {
    transform: scale(1.3);
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    padding: 50px 20px;
}

.project-title{
    text-align: center;
    margin-top: 80px;
}


.project-card {
    background: rgba(143, 137, 137, 0.185);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 20%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.project-card.fade-in {
    opacity: 1;
}

.project-thumbnail {
    width: 100%;
    border-radius: 5px;
    filter: blur(3px);
    transition: filter 0.3s ease-in-out;
}


.project-thumbnail:hover {
    filter: blur(0);
}

.project-tech {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.project-tech img {
    width: 40px;
    height: 40px;
}

.project-links {
    margin-top: 20px;
}

.project-links a {
    text-decoration: none;
    color: #f5f5f5;
    background: #6a0dad;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
}

.project-links a:hover {
    background: #9c86bd;
}

/* CONTACT  */

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 400px;
    flex-wrap: wrap;
}



.contact-container{
    margin-top: 6%;
}

.contact-title, .contact-redes{
    text-align: center;
}

.contact-links a img {
    width: 65px;
    height: 65px;
    margin-left: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.contact-links a:hover img{
    transform: scale(1.2);
    filter: brightness(1.3);
}


.contact-links.copy-email{
    margin-top: 50px;
    margin-left: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

.contact-form label{
    font-weight: bold;
}

.contact-form input, .contact-form textarea{
    width: 99.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background: #6a0dad;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    width: 105%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover{
    background: #9c86bd;
}


.copy-email {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gmail-icon {
    width: 65px;
    height: 65px;
    margin-left: 10;
}

.email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center; 
    border-radius: 5px;
    margin-left: 20px;
    
}

.email-container span {
    font-size: 14px;
    white-space: nowrap;
}

.copy-text {
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor:not-allowed;
}

.copy-email:hover {
    transform: scale(1.2);
}



.footer{
    background: #222;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer a{
    color: #9c86bd;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover{
    color: #c8a2c8;
}

@keyframes blink {
    from {
        border-color: #a13386;
    }
    to {
        border-color: transparent;
    }
}
